.header-navigation-container {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: aliceblue;
}

.content-page {
  margin-top: 65px;
}

.footer-part {
  position: fixed;
  bottom: 0;
  right: 0;
}
