.navigation-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #27536e;
  padding: 5px 0px;
  /* top: auto; */
  background-color: #6c9dba;
}

.icon {
  font-size: 20px;
  color: #fff;
}
